body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 20px;
  margin: 5px 0;
}

.game {
  text-align: center;
  margin: 0 auto;
}

.game-info {
  clear: both;
  margin: 12px auto 0;
  width: 155px;
}

.game-board {
  width: 100px;
  margin: 0 auto;
}

.board-row {
  width: 100px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.square.win {
  background-color: yellowgreen;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

li button {
  width: 125px;
}

li.selected {
  margin-left: 2px;
}

li.selected, li.selected * {
  font-weight: bold;
}